<!DOCTYPE html>
{% extends 'layout.html'%}

{% block body%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
</head>
<body>
    <div class = "container">
        <h1><a href = "http://xpressxerox.pythonanywhere.com/user">Go to your Dashboard</a></h1>
        <!--<h1>{{response_dict}}</h1>-->
        <table class="table table-dark">
             <tbody>
                <tr>
                  <th scope="row">ORDER ID</th>
                  <td>{{ response_dict['ORDERID'] }}</td>
                </tr>
                <tr>
                  <th scope="row">STATUS</th>
                  <td>{{ response_dict['RESPMSG'] }}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h3> Printing whole response from </h3>

        {% for i in response_dict%}
            <tr>
                <th scope="row">{{i}}</th>
                <td>{{response_dict[i]}}</td>
            </tr>
        {% endfor%}
    </div>
</body>
</html>

{% endblock%}